# GitHub PAT with 'repo' scope — to checkout sushii-ansible (private) during CI
# https://github.com/settings/tokens
ANSIBLE_REPO_TOKEN=

# Ansible vault decryption password
# cat ../sushii-ansible/password
ANSIBLE_VAULT_PASSWORD=

# SSH private key for connecting to sushii servers
# cat ../sushii-ansible/ansible.id_ed25519
ANSIBLE_SSH_PRIVATE_KEY="-----BEGIN OPENSSH PRIVATE KEY-----
<key content>
-----END OPENSSH PRIVATE KEY-----"

# SSH known host fingerprints for all sushii deployment servers
# ssh-keyscan 167.235.23.37 188.245.74.0 188.245.187.41
ANSIBLE_KNOWN_HOSTS="<paste ssh-keyscan output here>"
