# GitHub PAT with 'repo' scope — to checkout sushii-ansible (private) during CI
# https://github.com/settings/tokens
ANSIBLE_REPO_TOKEN=

# Ansible vault decryption password
ANSIBLE_VAULT_PASSWORD=

# SSH private key for connecting to sushii servers
ANSIBLE_SSH_PRIVATE_KEY="-----BEGIN OPENSSH PRIVATE KEY-----
<key content>
-----END OPENSSH PRIVATE KEY-----"

# SSH known host fingerprints for deployment servers
# ssh-keyscan <host1> <host2> ...
ANSIBLE_KNOWN_HOSTS="<paste ssh-keyscan output here>"
